@font-face {
    font-family: SFMedium;
    src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
  }
  @font-face {
    font-family: SFItalicHeavy;
    src: url(fonts/SFPRODISPLAYHEAVYITALIC.OTF);
  }
  @font-face {
    font-family: SFBold;
    src: url(fonts/SFPRODISPLAYBOLD.OTF);
  }
  @font-face {
    font-family: SFItalicLight;
    src: url(fonts/SFPRODISPLAYLIGHTITALIC.OTF);
  }
  @font-face {
    font-family: SFRegular;
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
  }
  
  @font-face {
    font-family: SFUltraLightItalic;
    src: url(fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF);
  }
  
  @font-face {
    font-family: SFThinItalic;
    src: url(fonts/SFPRODISPLAYTHINITALIC.OTF);
  }
  
  body {
    font-family: SFMedium, Helvetica;
  }
  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }
  

.swiper {
  width: 850px;
  height: 500px;
}

.imageslideshow {
  background-color: #141821;
  padding: 5% 0%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: none;
}

.swiper-wrapper img {
  width: auto;
  height: 100% !important;
  position: 50% 50%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media all and (max-width: 825px){
  .swiper {
    width: 700px;
    height: 350px;
  }
  
  .imageslideshow {
    background-color: #141821;
    padding: 3.5% 0%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: none;
  }
  
  .swiper-wrapper img {
    width: auto;
    height: 100% !important;
    position: 50% 50%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
}
@media all and (max-width: 500px){
  .swiper {
    width: 350px;
    height: 300px;
  }

  .imageslideshow {
    background-color: #141821;
    padding: 3.5% 0%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: none;
  }
  
  .swiper-wrapper img {
    width: auto;
    height: 100% !important;
    position: 50% 50%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
}
/*NAVBAR*/



.logonav{
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0%;
  background-color: #141821;
  color: #f9faf8;
}
.logonav h3 {
  font-family: SFBold;
  padding-left: 5%;
  font-size: 1.2em;
  margin-top: 0% 0%;
}
.headerlinks{
  color: #e5e7eb;
  display: flex;
  padding-right: 2%;
  font-size: 0.75em;
}
.headerlinks a:hover{
  color: #3882f6;
}
.headerlinks a{
  font-family: SFRegular;
  flex-wrap: nowrap;
  margin-right: 1em;
  text-decoration: none;
  color: #f9faf8;
}
  .dropdown {
    display: none;
  }
  
  .dropdown-menu{
    display: none;
  }
  #titletext {
    display: flex;
    flex-direction: column;
    padding: 3.5% 0%;
    align-items: center;
  }

  #titletext h1 {
    width: 95vw;
    font-size: 5em;
    align-items: center;
    text-align: center;
    font-family: SFBold;
    margin: 0.4em 0;
  }

  #titletext p {
    font-size: 1em;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  @media all and (max-width: 500px){
  #titletext {
    display: flex;
    flex-direction: column;
    padding: 3.5% 1%;
  }

  #titletext h1 {
    font-size: 2.9em;
    align-items: center;
    text-align: center;
    font-family: SFBold;
    margin: 0.4em 0 0 0;
  }

  #titletext p {
    font-size: 0.5em;
    align-items: center;
    text-align: center;
    margin: 0;
  }


  }
  @media all and (max-width: 475px){
    .logonav{
      position: fixed;
      z-index: 5;
      width: 100vw;
      height: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1% 0%;
      background-color: #141821;
      color: #f9faf8;
    }
    .logonav h3 {
      font-family: SFBold;
      padding-left: 5%;
      font-size: 1.2em;
      margin-top: 0% 0%;
    }
    .headerlinks{
      color: #e5e7eb;
      padding-right: 10.648px;
      display: flex;
      font-size: 0.75em;
      text-align: center;
    }
    .headerlinks a:hover{
      color: #3882f6;
    }
    .headerlinks a{
      font-family: SFRegular;
      flex-wrap: nowrap;
      margin-right: 1em;
      text-decoration: none;
      color: #f9faf8;
    }
    .headerlinks #flat{
      display: none;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-toggle {
      text-decoration: none;
      color: #1f2937;
      padding: 5px;
    }
    
    .dropdown-menu {
      border-radius: 5px;
      text-align: end;
      position: absolute;
      top: 100%;
      width: 8em;
      right: 0;
      display: none;
      background-color:#1f2937;
      opacity: 95%;
      padding: 10px;
      list-style: none;
      margin: 0;
    }
    
    .dropdown-menu li {
      display: flex;
      font-size: 1em;
      flex-direction: column;
      text-decoration: none;
      flex-wrap: nowrap;
      margin-bottom: 10px;
    }
    
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }  

/* INFO */

 .infosection {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
 }



.infosection img {
  width: 50px;
  height: auto;
}

#warrantyicon, #returnicon, #shippingicon {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 2.5%;
  margin-bottom: 2em;
}


#mainconfiginfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2.1em;
}

#mainconfiginfo a{
  background-color:#1f2937;
  color:#f9faf8;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5em 0.6em;
  text-align: center;
  margin-bottom: 2em;
}

#stacheck{
  display: flex;
  flex-direction: column;
  background-color: green;
  gap: 3em;
}
#checkoutButton:hover{
  background-color:#f9faf8;
  color: #1f2937;
  border: 2px solid #141821;
}

#statusCheck {
  word-wrap: break-word;
  font-family: SFItalicLight;
  margin-bottom: 20px;
  color: red;
  font-size: 0.7em;
}
#included{
  display: flex;
  padding: 5% 6%;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color :#d6d9da;
  border-radius: 25px;
  margin-bottom: 2em;
  gap: 5px;
}

#included img {
  width: 150px;
  border-radius: 9px;
  margin: 0;
}

#included h4 {
  color: grey;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#included p{
  color: grey;
  margin: 0;
  font-size: 0.7em;
}

#includedpics {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#specoverview {
  text-align: end;
  width: 40vw;
}


#specoverview h2 {
  margin-bottom: 0.5em;
  font-family: SFBold;
}
#specoverview p {
  color: lightslategray;
  font-size: 0.8em;
  margin-bottom: 0.35em;

}

@media all and (max-width: 825px){
  
  .infosection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  .infosection img {
    width: 23px;
    height: auto;
  }

  #warrantyicon, #returnicon, #shippingicon {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2.5%;
    margin: 0;
  }
  #warrantyicon h5, #returnicon h5, #shippingicon h5{
    font-size: 0.7em;
    margin: 0;
  }


  #mainconfiginfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  #mainconfiginfo a{
    background-color:#1f2937;
    color:#f9faf8;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    text-align: center;
    margin: 0;
  }

  #stacheck{
    display: flex;
    flex-direction: column;
    background-color: green;
    gap: 2em;
  }

  #checkoutButton:hover{
    background-color:#f9faf8;
    color: #1f2937;
    border: 2px solid #141821;
  }

  #statusCheck {
    word-wrap: break-word;
    font-family: SFItalicLight;
    margin-bottom: 10px;
    color: red;
    font-size: 0.7em;
  }
  #included{
    display: flex;
    padding: 5.75% 8%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color :#d6d9da;
    border-radius: 25px;
    margin-bottom: 1.5em;
    gap: 5px;
  }

  #included img {
    width: 140px;
    border-radius: 9px;
  }

  #included h4 {
    color: grey;
    margin: 0;
    padding-top: 5px;
  }

  #included p {
    color: grey;
    margin: 0;
    font-size: 0.6em;
  }

  #specoverview {
    text-align: center;
    width: 25vw;
  }


  #specoverview h2 {
    font-family: SFBold;
    font-size: 0.9em;
    margin: 0;
  }
  #specoverview p {
    color: lightslategray;
    font-size: 0.8em;
    margin: 0;

  }
}
@media all and (max-width: 700px){
  

  .infosection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
  }

  .infosection img {
    width: 23px;
    height: auto;
  }

  #warrantyicon, #returnicon, #shippingicon {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2.5%;
    margin: 0;
  }
  #warrantyicon h5, #returnicon h5, #shippingicon h5{
    font-size: 0.7em;
    margin: 0;
  }


  #mainconfiginfo {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #mainconfiginfo a{
    background-color:#1f2937;
    color:#f9faf8;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    text-align: center;
    margin: 0;
  }

  #stacheck{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 2em;
  }

  #checkoutButton:hover{
    background-color:#f9faf8;
    color: #1f2937;
    border: 2px solid #141821;
  }

  #statusCheck {
    word-wrap: break-word;
    font-family: SFItalicLight;
    margin: 0;
    color: red;
    font-size: 0.7em;
  }


  #included{
    display: flex;
    padding: 3.75% 9%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color :#d6d9da;
    border-radius: 25px;
    gap: 10px;
  }

  #bb, #pa{
    flex-direction: column;
  }


  #includedpics {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  #included img {
    height: 75px;
    width: auto;
    border-radius: 9px;
  }

  #included p {
    font-size: 0.3em;
    color: grey;
    margin: 0;
  }
  #included h4 {
    font-size: 0.75em;
    padding-top: 5px;
    color: grey;
    margin: 0;
  }

  #icons {
    display: flex;
    flex-direction: row;
  }

  #specoverview {
    text-align: center;
    width: 85vw;
  }

  #specoverview h2 {
    font-family: SFBold;
    font-size: 0.9em;
    margin: 0;
  }
  #specoverview p {
    color: lightslategray;
    font-size: 0.8em;
    margin: 0;

  }
}

@media all and (max-width: 500px){
  

  .infosection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
  }

  .infosection img {
    width: 23px;
    height: auto;
  }

  #warrantyicon, #returnicon, #shippingicon {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2.5%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin: 0;
  }
  #warrantyicon h5, #returnicon h5, #shippingicon h5{
    font-size: 0.7em;
    margin: 0;

  }


  #mainconfiginfo {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #mainconfiginfo a{
    background-color:#1f2937;
    color:#f9faf8;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    text-align: center;
    margin: 0;
  }

  #stacheck{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 2em;
  }

  #checkoutButton:hover{
    background-color:#f9faf8;
    color: #1f2937;
    border: 2px solid #141821;
  }

  #statusCheck {
    word-wrap: break-word;
    font-family: SFItalicLight;
    margin: 0;
    color: red;
    font-size: 0.7em;
  }


  #included{
    display: flex;
    padding: 3.75% 9%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color :#d6d9da;
    border-radius: 25px;
    gap: 10px;
  }

  #bb, #pa{
    flex-direction: column;
  }


  #includedpics {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  #included img {
    height: 137.5px;
    width: auto;
    border-radius: 9px;
  }

  #included p {
    font-size: 0.3em;
    color: grey;
    margin: 0;
  }
  #included h4 {
    font-size: 0.75em;
    padding-top: 5px;
    color: grey;
    margin: 0;
  }

  #icons {
    display: flex;
    flex-direction: row;
    color: grey;
  }

  #specoverview {
    margin-top: 1.5em;
    text-align: center;
    width: 85vw;
  }

  #specoverview h2 {
    color:#141821;
    font-size: 1.2em;
    margin: 0;
  }
  #specoverview p {
    color: lightslategray;
    font-size: 0.8em;
    margin: 0;

  }
}

/**/

.specs {
  display: flex;
  padding: 5% 1%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;


}



#specoverview h2 {
  margin-bottom: 0.5em;
  font-family: SFBold;
}
#specoverview p {
  color: lightslategray;
  font-size: 0.8em;
  margin-bottom: 0.35em;

}

@media all and (max-width: 825px){
  #specoverview {
    text-align: center;
  }
  
  
  #specoverview h2 {
    margin-bottom: 0.5em;
    font-family: SFBold;
  }
  #specoverview p {
    color: lightslategray;
    font-size: 0.7em;
    margin-bottom: 0.35em;
  
  }

}

@media all and (max-width: 700px){
  .specs {
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
  }

}



/*Configuration Choices */

.optionBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0.5% 1.75%;
  width: 30em;
  border: 2px solid #D9DDDC;
  border-radius: 5px;
  margin: 0.5em 0;
}





select {
  margin: 0.2em 0em;
  padding: 0.5em 0.65em;
  text-align: start;
  text-decoration: none;
  border: 2px solid #D9DDDC;
  border-radius: 5px;
}
#langselec h2{
  margin: 0;
}
#popupprocessor, #popupstorage, #popuppsu, #popupmemory{
  color: #3882f6;
}

.specdesc {
  margin-bottom: 3.5%;

}

#price {
  white-space: nowrap;
}


@media all and (max-width: 825px){

  .optionBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1.5% 1.75%;
    width: 25em;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
    margin: 0.5em 0;
  }
  #options h2 {
    font-size: 1.2em;
    margin: 0
  }
  .optionBtn p{
    font-size: 0.8em;
    margin: 0;
  }

  .specdesc {
    margin: 0;
    font-size: 0.8em;
  }
  select {
    margin: 2em 0em;
    padding: 0.5em 0.65em;
    text-align: start;
    text-decoration: none;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
  }
  #popupprocessor, #popupstorage, #popuppsu, #popupmemory{
    color: #3882f6;
  }
  
  .popup {
    margin-bottom: 3.5%;
  
  }
  
  #price {
    white-space: nowrap;
  }

}


@media all and (max-width: 700px){
  .optionBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1.5% 1.75%;
    width: 25em;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
    margin: 0.5em 0;
  }
  #options h2 {
    font-size: 1.2em;
    margin: 0
  }
  .optionBtn p{
    font-size: 0.8em;
    margin: 0;
  }

  .specdesc {
    margin: 0;
    font-size: 0.8em;
  }
  select {
    margin: 0 0;
    padding: 0.25em 0.3em;
    text-align: start;
    text-decoration: none;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
    font-size: 0.5em;
  }
  #popupprocessor, #popupstorage, #popuppsu, #popupmemory{
    color: #3882f6;
  }
  
  .popup {
    margin-bottom: 3.5%;
  
  }
  
  #price {
    white-space: nowrap;
  }

}


@media all and (max-width: 500px){
  .optionBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1.25%;
    width: 21em;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
    margin: 0.5em 0;
    gap: 1em;
  }

  #options h2 {
    font-size: 1.2em;
    margin: 0
  }
  .optionBtn p{
    font-size: 1.1em;
    margin: 0;
  }

  .price {
    white-space: nowrap;
  }

  .specdesc {
    margin: 0;
    font-size: 0.8em;
  }
  select {
    margin: 0 0;
    padding: 0.25em 0.3em;
    text-align: start;
    text-decoration: none;
    border: 2px solid #D9DDDC;
    border-radius: 5px;
    font-size: 1em;
  }
  #popupprocessor, #popupstorage, #popuppsu, #popupmemory{
    color: #3882f6;
  }
  
  .popup {
    margin-bottom: 3.5%;
  
  }
  
  #price {
    white-space: nowrap;
  }

}

.notes {
  margin-top: 5em;
  display: flex;
  align-items: center;
  height: 67.5px;
  color: grey;
  background-color: lightgrey;
  padding: 10px 5px;
  font-size: 0.8em;

}

footer {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  text-align: center;
  font-size: 0.75em;
}


@media all and (max-width: 825px) {
  footer {
    font-size: 0.75em;
    padding: 1%;
  }


}

@media all and (max-width: 450px) {
  footer {
    font-size: 0.4em;
  }

}