* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #1f2937;
    color: #f9faf8;
}
.logonav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    background-color: #141821;
    color: #f9faf8;
      
}
.headerlinks{
    color: #e5e7eb;
    padding-right: 3%;
    display: flex;
}
.headerlinks a:hover{
    color: #3882f6;
}
.headerlinks a{
    margin-right: 10px;
    text-decoration: none;
    color: #f9faf8;
}
.main{
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;;
    justify-content: center;
}

.main h1{
    font-size: 300%;
    text-align: center;
}

.main h6{
    font-size: 35%;
    text-align: center;
}

.main iframe{
    padding-top: 3%
}