@font-face {
  font-family: SFMedium;
  src: url(./fonts/SFPRODISPLAYMEDIUM.OTF) format("opentype");
}
@font-face {
font-family: SFItalicHeavy;
src: url(./fonts/SFPRODISPLAYHEAVYITALIC.OTF) format("opentype");
}
@font-face {
font-family: SFBold;
src: url(./fonts/SFPRODISPLAYBOLD.OTF) format("opentype");
}
@font-face {
font-family: SFItalicLight;
src: url(./fonts/SFPRODISPLAYLIGHTITALIC.OTF) format("opentype");
}
@font-face {
font-family: SFRegular;
src: url(./fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
}

@font-face {
font-family: SFUltraLightItalic;
src: url(./fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF) format("opentype");
}

@font-face {
font-family: SFThinItalic;
src: url(./fonts/SFPRODISPLAYTHINITALIC.OTF) format("opentype");
}
  
  
  
:root{
  --bar-width: 35px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --hamburger-margin: 7.4px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

  
  
.hidden{
  opacity: 0;
  transition: opacity 300ms ease-in;
  filter: blur(5px);
}

.show{
  opacity: 1;
  filter: blur(0);
}

.rightfreeze {
  transform: translateX(50%);
  transition: all 2s ease-out;
  overflow-x: hidden !important;
}
.rightslide {
  transform: translateX(0%);
}
.leftfreeze {
  transform: translateX(-50%);
  transition: all 2s ease-out;
  overflow-x: hidden !important;
}
.leftslide {
  transform: translateX(0%);
}

.upfreeze {
  transform: translateY(100%);
  transition: all 2s ease-out;
  overflow-y: hidden;
}

.upslide {
  transform: translateY(0%);
}

*, *::after, *::before{
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #121212;
  body {
    font-family: SFMedium, Helvetica;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-style: unset !important;
    font-weight: unset !important;
    background-color: #121212;
    &::-webkit-scrollbar {
        display: none;
    }
  }
}



/* HAMBURGER MENU */

:root {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --bar-width: 27.5px;
  --bar-height: 2.5px;
  --hamburger-gap: 4.5px;
  --accent-color: #3882f6;
}
  
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  align-items: center;
  padding-right: 2.5%;

&::before,
&::after,
input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #f9faf8;
  border-radius: 9999px;
  transform-origin: left center;
  transition: all var(--animation-timing); /* Change to 'all' for proper transition */
}

input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;

  &:focus-visible {
    border: 1px solid #f9faf8;
    box-shadow: 0 0 0 1px #f9faf8;
  }

  &:checked {
    opacity: 0;
    width: 0;
  }

}

&:has(input:focus-visible)::before,
&:has(input:focus-visible)::after {
  border: 1px solid #f9faf8;
  box-shadow: 0 0 0 1px #f9faf8;
}

&:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

&:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

&:has(input:checked) + .sidebar {
  transform: translateX(0); 
}
}
  
  .sidebar {
    transition: transform var(--animation-timing);
    transform: translateX(100%); /* Start off the viewport */
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: #121212;
    color: #f9faf8;
    width: 12.5rem; 
    height: 100dvh; 
    position: fixed; 
    top: 0; 
    right: 0; 
    opacity: 0.9;
  
    a {
      text-decoration: none;
      color: #f9faf8;
      transition: color var(--animation-timing);
      background-size: 200%;
  
      &:hover {
        background-image: linear-gradient(45deg, #879af2, #d3208b, #fda000 );
        background-clip: text;
        -webkit-background-clip: text; /* For older webkit-based browsers */
        color: transparent;
        animation: bg-animation 2.5s infinite alternate;
      }
    }
  
    nav {
      display: flex;
      flex-direction: column;
      margin-top: 25%;
      gap: 25px;
      text-align: end;
    }
  }
  
  @media (max-width: 475px) {
    .sidebar {
      display: flex;
      width: 100dvw;
      max-width: none; 
      padding: inherit 0px;
      font-size: 1.5rem;
      font-weight: unset;
      color: #f9faf8;
  
      a {
        text-decoration: none;
        color: #f9faf8;

      }
  
      nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 25px;
        text-align: center;
        width: 100vw;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  

/* NAVBAR AND SECTION 1*/

  $mobile-breakpoint: 475px;
  $tablet-breakpoint: 875px;
  
  .top {
    background-color: #e5e7eb;
  
    .logonav {
      position: fixed;
      z-index: 999;
      width: 100vw;
      height: 45px;
      display: flex;
      flex-direction: row;
      padding: 0.5% 0%;
      background-color: #121212;
      color: #f9faf8;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
      #NavText {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
  
      h3 {
        font-family: SFBold;
        padding-right: 5%;
        font-size: 1.2em;
        margin-top: 0%;
        font-weight: unset;
        white-space: nowrap;
        margin: 0;
        background-image: linear-gradient(45deg, transparent, transparent);
        background-clip: text;
        color: transparent;
  
        a {
          text-decoration: none;
          background-size: 200%;
          color: #f9faf8;
          transition: color var(--animation-timing);
          &:hover {
            background-image: linear-gradient(45deg, #879af2, #d3208b, #fda000 );
            background-clip: text;
            -webkit-background-clip: text; /* For older webkit-based browsers */
            color: transparent;
            animation: bg-animation 2.5s infinite alternate;
          }
        }
      }
  
      img {
        padding-left: 3.5%;
        padding-right: 1%;
        height: 35px;
        transition: 1s all ease-in-out;

        &:hover{
          height: 40px;
          width: auto;
          transition: 1s all ease-in-out;
        }
      }

  
      @media all and (max-width: #{$mobile-breakpoint}) {
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 35px;
        color: #1f2937;
        align-items: center;
        padding: 0.5% 0%;
  
        #NavText {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
  
        h3 {
          font-family: SFBold;
          padding: 0;
          padding-left: 2.5%;
          font-size: 1.2em;
          margin-top: 0% 0%;
        }
  
        img {
          padding-left: 3.5%;
          padding-right: 0.5%;
          height: 65%;
        }
      }
    }
  
    .firstsecmain {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3%;
      height: 100vh;
      position: relative;
      z-index: 1;
      padding: 7.5% 2.5%;
      background-size: 200%;
      background-image: linear-gradient(45deg, #010332, #100328, #29011c, #43000d, #530005);
      animation: bg-animation 10s infinite alternate;
  
      .parawall {
        display: flex;
        flex-direction: column;
        color: #e5e7eb;
        padding-left: 5%;
        animation: revealText 2.2s ease-out;
        z-index: 99;
  
        h2 {
          font-size: 2.5rem;
          color: #e5e7eb;
          padding-bottom: 1%;
          margin: 0;
          animation: revealText 1s ease-out;
          font-weight: unset;
          z-index: 99;
        }
  
        i {
          font-size: 5.5rem;
          color: #e5e7eb;
          margin: 0;
          padding-bottom: 1.5%;
          font-family: SFItalicHeavy;
          animation: revealText 1.8s ease-out;
          z-index: 99;
        }
  
        p {
          font-family: SFRegular;
          font-size: 1em;
          color: #e5e7eb;
          z-index: 99;
        }
      }
  
      #firstimg {
        margin-top: 5%;
        margin: 8%;
        height: auto;
        width: 18.75em;
        height: auto;
        border-radius: 15px;
        animation: revealImg 1s ease-out;
        box-shadow: 0px 10px 30px 7.5px rgba(0, 0, 0, 0.4);
        z-index: 99;
      }
  
      .fbutton {
        background-color: #121212;
        border: 1.25px solid #e5e7eb;
        text-decoration: none;
        color: #e5e7eb;
        font-size: 0.7em;
        padding: 1% 1.75%;
        border-radius: 7px;
        margin-top: 2.5%;
        align-items: flex-start;
        width: fit-content;
        animation: revealText 2.5s ease-out;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
  
        &:hover {
          background-color: #e5e7eb;
          border-color: #1f2937;
          color: #1f2937;
        }
      }
  
      @keyframes revealText {
        0% {
          translate: -50%;
          opacity: 0.1;
        }
        100% {
          translate: 0 0;
          opacity: 1;
        }
      }
  
      @keyframes revealImg {
        0% {
          translate: 150%;
          opacity: 0.1;
        }
        100% {
          translate: 0 0;
          opacity: 1;
        }
      }
  
      @media all and (min-width: 1200px) {
        .fbutton {
          font-size: 1.2em;
          padding: 0.5% 1.5%;
        }
  
        .parawall h2 {
          font-size: 1.7em;
        }
      }
  
      @media all and (max-width: #{$mobile-breakpoint}) {

        .firstsecmain {
          padding-top: 7.5%;
          .parawall{
            h2 {
              font-size: 1.85em;
              color: #1f2937;
            }
      
      
            i {
              font-size: 3.5rem;
              color: #1f2937;
              padding-bottom: 3.5%;
            }
      
            p {
              font-size: 0.75em;
              color: #1f2937;
            }
      
            .fbutton {
              background-color: #1f2937;
              color: #e5e7eb;
              font-size: 0.6em;
              padding: 1% 1.75%;
              border-radius: 7px;
              margin-top: 5%;
              align-items: flex-start;
              box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
              background-color: rgba(255, 255, 255, .15);
              backdrop-filter: blur(5px);
            }
          }
          #firstimg {
            height: auto;
            width: 25%;
            margin: 4%;
            border-radius: 7.5%;
          }
        }
      }
  
      @media all and (max-width: 650px) {
        .parawall{
          h2 {
            font-size: 1.6em;
            color: #1f2937;
            padding-bottom: 3.5%;
          }
    
          i {
            color: #1f2937;
          }
    
          p {
            font-size: 0.7em;
            color: #e5e7eb;
          }
    
          .fbutton {
            background-color: #1f2937;
            color: #e5e7eb;
            font-size: 0.55em;
            padding: 1% 1.75%;
            border-radius: 7px;
            margin-top: 2.5%;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
            align-items: flex-start;
          }
        }
      }
  
      @media all and (max-width: 580px) {

        .parawall{
          h2 {
            font-size: 1.5em;
            color: #1f2937;
          }
    
          i {
            font-size: 2em;
            color: #1f2937;
            padding-bottom: 3.5%;
          }
    
          p {
            font-size: 0.55em;
            color: #1f2937;
          }

          .fbutton {
            background-color: #1f2937;
            color: #e5e7eb;
            font-size: 0.55em;
            padding: 1% 1.75%;
            border-radius: 7px;
            margin-top: 2.5%;
            align-items: flex-start;
          }
        }
        #firstimg {
          height: auto;
          width: 30%;
          margin: 4%;
          border-radius: 7.5%;
          transition: transform 0.4s ease-out;
        }
      }
    }
  
    @media all and (max-width: #{$mobile-breakpoint}) {
      .firstsecmain {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: space-around;
        padding: 0% 0%;
        background-image: url(../images/ibrahimfrontmobile.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(155, 155, 155);
        background-blend-mode: multiply;
        height: 100vh;
    
  
        #firstimg {
          width: 0em;
          height: auto;
          margin: 3%;
          border-radius: 7.5%;
          transition: transform 0.4s ease-out;
        }
        
        .parawall {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 37.5% 1%;
          opacity: 0.9;
          i {
            text-align: center;
            font-size: 3.3em;
            font-style: unset;
            color: #f9faf8;
            padding: 0;
          }
          h2 {
            font-family: SFRegular;
            font-size: 1.8em;
            color: #f9faf8;
            padding-bottom: 0;
            text-align: center;
          }
          p {
            font-size: 0.875em;
            color: #f9faf8;
            text-align: center;
            padding: 3.75% 5%;
            margin: 0;
          }
          .fbutton {
            background-color: transparent;
            border: 1px solid #e5e7eb;
            color: #e5e7eb;
            font-size: 0.9em;
            padding: 2% 5%;
            border-radius: 10px;
            margin-top: 2.5%;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
          }
        }

      }
    }
    @media screen and (min-width: 500px) and (max-width: 1024px) and (orientation: portrait) {
      .firstsecmain {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: space-around;
        padding: 0% 0%;
        background-image: url(../images/ibrahimfrontmobile.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(155, 155, 155);
        background-blend-mode: multiply;
        height: 100vh;  
        #firstimg {
          width: 0em;
          height: auto;
          margin: 3%;
          border-radius: 7.5%;
          transition: transform 0.4s ease-out;
        }
  
        .parawall {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 37.5% 1%;
          i {
            text-align: center;
            font-size: 5.25rem;
            color: #f9faf8;
            padding: 0;
          }
          h2 {
            font-family: SFRegular;
            font-weight: lighter;
            font-size: 2.75em;
            color: #f9faf8;
            padding-bottom: 0;
            text-align: center;
          }
          p {
            font-size: 1.2rem;
            color: #f9faf8;
            text-align: center;
            padding: 3.75% 5%;
            margin: 0;
          }
          .fbutton {
            background-color: transparent;
            border: 1px solid #f9faf8;
            color: #f9faf8;
            font-size: 1em;
            padding: 1% 2.5%;
            border-radius: 10px;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
            margin-top: 2.5%;
          }
        }
      }
    }
  }
  
/* SECTION 2 */

.featureSection {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  padding: 10% 2.5%;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
  font-weight: unset;
  position: relative;
  gap: 25px;
  background-image: url(../images/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  img {
    height: 17.5rem;
    width: auto;
    border: 25px solid rgba(128, 128, 128, 0.6);
    z-index: 2;
  }
    
  h3 {
    font-size: 2rem;
    font-weight: unset;
    font-family: SFBold;
    margin: 0;
    z-index: 2;
    b {
      font-weight: unset;
      font-family: SFBold;
      z-index: 2;
    }
  }


  #silicon, #motors, #driving {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 4%;
    border-radius: 15px;
    text-align: end;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
  }
  
    
  #motors {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    z-index: 2;
  }
  

  @media all and (max-width: 950px){
    img{
      height: 12.5rem;
      width: auto;
      border: 5px solid rgba(128, 128, 128, 0.4);
    }

    h3 {
      font-size: 1.9rem;
      margin: 0;
    }

    #silicon, #motors, #driving{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      padding: 4%;
      border-radius: 15px;
      background-color: rgba(187,165,160, 0.2);
      text-align: end;
    }

    #motors {
      display: flex;
      flex-direction: row-reverse;
      text-align: start;
    }
  }

  @media all and (max-width: 825px){

    img{
      height: 12.5rem;
      width: auto;
      border: 15px solid rgba(128, 128, 128, 0.6);
    }

    h3 {
      font-size: 1.9rem;
      margin: 0;
    }

    p{
      font-size: 0.8rem;
    }

    #silicon, #motors, #driving{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      padding: 4%;
      border-radius: 15px;
      background-color: rgba(187,165,160, 0.2);
      text-align: end;
      overflow-x: hidden;
    }

    #motors {
      display: flex;
      flex-direction: row-reverse;
      text-align: start;
    }
  }

  @media all and (max-width: 700px){
    img {
      height: 10rem;
      width: auto;
      border: 15px solid rgba(128, 128, 128, 0.6);
    }
    h3 {
      font-size: 1.6rem;
      margin: 0;
    }
    p {
      font-size: 0.7rem;
    }
    #silicon, #motors, #driving {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      padding: 4%;
      border-radius: 15px;
      background-color: rgba(187,165,160, 0.2);
      text-align: end;
    }

    #motors {
      display: flex;
      flex-direction: row-reverse;
      text-align: start;
    }
  }

  @media all and (max-width: 500px){


    img{
      height: 10rem;
      width: auto;
      border: 15px solid rgba(128, 128, 128, 0.6);
    }

    h3 {
      font-size: 1.75rem;
      margin: 0;
    }
    p{
      font-size: 0.7rem;
    }
    #silicon, #motors, #driving{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      padding: 4% 5%;
      border-radius: 15px;
      background-color: rgba(187,165,160, 0.2);
      text-align: center;
    }

    #motors {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}


/* SECTION 3 */

.functionSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  padding-top: 3%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  overflow: hidden !important;
  z-index: 0;
  position: relative;

  p {
    font-size: 1rem;
    color: #888171;
  }

  h3 {
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: 4.25em;
    color: #d9d2c3;
    font-weight: bolder;
    margin: 2.5%;
  }

  .sectwocontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: space-around;

    #overlaypic {
      padding: 5%;
      #side {
        width: 17.5em;
        height: auto;
        border-radius: 5%;
        animation: none;
      }

      #ponder {
        width: 17.5em;
        border-radius: 5%;
        animation: none;
      }
      
    }


    .funclist {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: end;
      gap: 45px;
      margin-right: 2.5%;
      list-style: none;

      li {
        background-image: linear-gradient(45deg, transparent, transparent);
        background-clip: text;
        color: transparent;
        a {
          font-size: 1.6rem;
          display: flex;
          flex-direction: row;
          text-align: end;
          color: #888171;
          background-size: 500%;
          position: relative;

          $delay: 0;
          @for $i from 2 through 9 {
            &:nth-child(#{$i}) {
              transition-delay: #{$delay}ms;
              $delay: $delay + 200;
            }
          }

          &:hover {
            background-image: linear-gradient(45deg, #879af2, #d3208b, #fda000);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation: bg-animation 5s infinite alternate;
          }
        }
      }
    }
  }

  @media all and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    padding-top: 3%;

    h3 {
      align-items: center;
      justify-self: center;
      text-align: center;
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 2.5%;
    }

    p {
      font-family: SFItalicLight;
      font-size: 0.8em;
      opacity: 75%;
      text-align: center;
      margin: 0;
    }

    .sectwocontent {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-around;
      padding: 0% 2.5%;

      #overlaypic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
        padding: 0% 2.5%;

        #ponder {
          height: 15em !important;
          width: auto;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        #ponderpair #sidepair {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0 2.5%;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        #side {
          height: 15em !important;
          width: auto;
          position: unset;
          top: unset;
          left: unset;
          z-index: unset;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
      }

      .funclist {
        padding-left: 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
        li a {
          font-size: 1.25rem;
          display: flex;
          flex-direction: row;
          text-align: start;
          margin: 0% 0.5%;
        }
      }
    }
  }

  @media all and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
    justify-content: unset;
    align-items: center;
    height: unset;
    gap: 0px;
    height: unset;

    .upfreeze {
      transform: translateY(200%);
      transition: all 2s ease-out;
      overflow-y: hidden;
    }

    .upslide {
      transform: translateY(0%);
    }

    h3 {
      align-items: center;
      justify-self: center;
      text-align: center;
      color: #e5e7eb;
      font-weight: unset;
      font-family: SFBold;
      font-size: 2.25rem;
    }

    p {
      font-family: SFItalicLight;
      font-size: 0.8em;
      opacity: 75%;
      text-align: center;
      margin: 0;
    }

    .sectwocontent {
      padding: 0.75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 5px;

      #overlaypic {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
        padding: 0% 2.5%;

        #ponder {
          height: 14.5em !important;
          width: auto;
        }

        #ponderpair #sidepair {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0 2.5%;
        }

        #side {
          height: 14.5em !important;
          width: auto;
          position: unset;
          top: unset;
          left: unset;
          z-index: unset;
        }
      }

      .funclist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 2.5%;
        text-align: center;
        overflow-x: hidden;
        padding: 0% 1%;
        list-style: none;
        gap: 15px;
        padding-bottom: 10%;
        li a {
          font-size: 1.5rem;
          display: flex;
          flex-direction: row;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  @media all and (max-width: 375px) {
    display: flex;
    flex-direction: column;
    padding: 0% 1%;
    font-style: normal;
    margin: 0% 2.5%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0px;

    h3 {
      align-items: center;
      justify-self: center;
      text-align: center;
      font-size: 1.75em;
      color: #e5e7eb;
      margin: 2.5%;
      padding-top: 5%;
    }

    p {
      font-family: SFItalicLight;
      font-size: 0.5em;
      opacity: 75%;
      color: #333333;
      text-align: center;
      margin: 0;
    }

    .sectwocontent {
      padding: 0.75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 5px;
      #overlaypic {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
        padding: 0% 2.5%;

        #ponder {
          height: 12.5em !important;
          width: auto;
        }

        #ponderpair #sidepair {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0 2.5%;
        }

        #side {
          height: 12.5em !important;
          width: auto;
          position: unset;
          top: unset;
          left: unset;
          z-index: unset;
        }
      }

      .funclist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 97.5%;
        margin: 0;
        padding: 0;
        padding-top: 2.5%;
        text-align: center;
        overflow-y: hidden;
        padding: 0% 1%;
        list-style: none;
        gap: 15px;
        padding-bottom: 10%;
        li a {
          font-size: 0.9rem;
          display: flex;
          flex-direction: row;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

/* SECTION 4 */

.mainQuoteSection {
  display: flex;
  background-size: 200%;
  background-image: linear-gradient(45deg, #010332, #100328, #29011c, #43000d, #530005);
  animation: bg-animation 10s infinite alternate;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0% 7%;
  height: 100dvh;
  font-style: unset;
  font-weight: unset;
  position: relative;
  overflow: hidden !important;

  .quote{
  font-size: 3.5em;
  color: #f9faf8;
  font-style: unset;
  font-weight: unset;
  z-index: 999;
  }

  .quoteauthor {
  font-size: 1.35em;
  text-align: end;
  padding-right: 5%;
  color: #e5e7eb;
  z-index: 999;
  opacity: 0.9;
  }



  @media all and (max-width: 785px) {
    .quote{
      font-size: 2.25em;

    }

    .quoteauthor {
      font-size: 1em;
      text-align: end;

    }

  }

  @media all and (max-width: 500px) {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 0% inherit;

    .quote{
    font-size: 1.95em;
    color: #e5e7eb;
    padding-bottom: 3%;

    }
    .quoteauthor{
      font-size: 1.2em;
      text-align: end;
      padding-right: 5%;
      font-weight: unset;
      i{
        font-size: 0.8em;
        font-weight: unset;
      }
    }
  }
}

.quotetitles{
  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    padding-top: 5%;
    margin: 0;
  
    @media all and (max-width: 500px) {
      h1 {
          display: flex;
          text-align: center;
          justify-content: center;
          font-size: 1.8rem;
          padding-top: 5%;
          margin: 0;
          font-style: unset;
          font-family: SFBold;
      }
    }
  }
}

/* SECTION 5 */

.reviewsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 7.5% 1.5% 10% 1.5%;
  font-style: unset;
  background-color: #121212;
  position: relative;
  overflow-x: hidden;



  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.9rem;
    font-style: SFBold;
    color: #f9faf8;
  }

  h3 {
    font-family: SFRegular;
    font-size: 2.75em;
    margin-bottom: 1.5%;
    font-style: unset;
    font-weight: unset;
  }


  p {
    font-family: SFThinItalic;
    font-size: 1em;
    margin: 0;
    font-style: unset;
    font-weight: unset;
  }

  #pfp{
    background-color: #333333;
    padding: 2.25%;
    border-radius: 100%;
    img{
      width: 125px;
    }
  }

  .separator {
    height: 1px; /* Adjust the height of the line as needed */
    width: 100%; /* Span the width of the div */
    background-color: #333333; /* Adjust the background color of the line */
  }

  .dt{
    all: unset;
    color: #3f3e3e;
    font-size: 1.25rem;
  }

  #r1, #r3, #r5{
    position: relative; // Add this to establish a positioning context for pseudo-elements
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    align-items: flex-end;
    text-align: end;
    font-style: unset;
    font-weight: unset;
    color: #e5e7eb;
    border-radius: 20px;
    padding: 2% 2.75%;
    p{
      color: #f9faf8;
      padding-right: 2.5%;
    }
    h3{
      position: relative; // Add this to establish a positioning context for pseudo-elements
      display: flex;
      flex-direction: column-reverse;
      align-self: flex-end;
      align-items: flex-end;
      text-align: end;
      font-style: unset;
      font-weight: unset;
      width: 90%;
      color: #f9faf8;
      border-radius: 27.5px;
      padding: 2% 2.75%;
      padding-right: 3%;
      background-color: #0B93F6;
    }
  }


  #r2, #r4, #r6{
    border-radius: 20px;
    padding: 2% 2.75%;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    align-items: flex-start;
    text-align: start;
    font-style: unset;
    font-weight: unset;
    color: #f9faf8;
    p{
      color: #f9faf8;
      padding-left: 2.5%;
    }
    h3{
      border-radius: 27.5px;
      padding: 2% 2.75%;
      padding-left: 3%;
      display: flex;
      align-self: flex-start;
      align-items: flex-start;
      text-align: start;
      font-style: unset;
      width: 90%;
      font-weight: unset;
      background-color: #333333;
    }
  }

  

  @media all and (max-width: 885px) {
    .dt{
      all: unset;
      color: #3f3e3e;
      font-size: 1.1rem;
    }
    #pfp{
      background-color: #333333;
      padding: 2.25%;
      border-radius: 100%;
      img{
        width: 90px;
      }
    }
  
    h3{
      font-size: 2.15em;
    }

    p{
      font-size: 1.4em;
    }
    h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      font-size: 1.5em;
      margin: 0;
    }
  }
  @media all and (max-width: 500px) {
    gap: 1em;
    .dt{
      all: unset;
      color: #3f3e3e;
      font-size: 0.85rem;
    }
    h3{
        font-size: 1.3em;
        font-style: unset;
        
    }

    p{
        font-size: 0.8em;
        font-style: unset;
    }
    h1 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0;

    }
    #pfp{
      background-color: #333333;
      padding: 2.25%;
      border-radius: 100%;
      margin: 2.5% 0%;
      img{
        width: 75px;
      }
    }


    #r1, #r3, #r5{
      padding: 2.25% 2.75%;
      p{
        color: #f9faf8;
        padding-right: 2.5%;
      }
      h3{
        position: relative; // Add this to establish a positioning context for pseudo-elements
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-end;
        align-items: flex-end;
        text-align: end;
        font-style: unset;
        font-weight: unset;
        width: 90%;
        color: #f9faf8;
        border-radius: 15px;
        padding: 2% 2.75%;
        padding-right: 3%;
        background-color: #0B93F6;
      }
    }
  
  
    #r2, #r4, #r6{
      padding: 2.25% 2.75%;
      h3{
        border-radius: 15px;
        padding: 2% 2.75%;
        padding-left: 3%;
        width: 90%;
        background-color: #333333;
      }
    }
  }
}


/* SECTION 6 */


.ctaSection{
  padding: 25% 20%;

  background-size: 200%;
  background-image: linear-gradient(45deg, #010332, #100328, #29011c, #43000d, #530005);
  animation: bg-animation 10s infinite alternate;
  
  .ctabut{
    padding: 8% 9%;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: unset;
    

    .cta {
      color: #e5e7eb;
      h5 {
        font-size: 1.7em;
        font-family: SFMedium;
        margin: 0;
      
        }
      p {
        font-size: 0.9em;
        font-family: SFMedium;
      }
    }

    .sbutton{
      text-decoration: none;
      color:#e5e7eb;
      border: 1px solid #e5e7eb;
      font-size: 0.9em;
      padding: 1% 1.75%;
      border-radius: 7px;
      margin-top: 2.5%;
      align-items: flex-start;
      width: fit-content;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(5px);
      white-space: nowrap;

      &:hover {
        background-color: #e5e7eb;
        color: #3882f6;
      
        }
    }

  }

  @media all and (max-width: 900px) {
    .sbutton{
      text-decoration: none;
      color:#e5e7eb;
      border: 1.5px solid #e5e7eb;
      font-size: 0.8em;
      padding: 1% 2%;
      border-radius: 7px;
      white-space: nowrap;
      margin-top: 2.5%;
      align-items: flex-start;
    }
  }

  @media all and (max-width: 825px) {
    .ctabut{
      padding: 6% 8.5%;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h5 {
          font-size: 1em;
      }
    
      p {
          font-size: 0.65em;
      }
    }
  }

  @media all and (max-width: 500px) {
      display: flex;
      padding: 0% 2.5%;
      gap: 5px;
      height: 100dvh;
      align-items: center;
      justify-content: center;
      font-weight: unset;
      background-size: 200%;
        
    .ctabut{
      padding: 10% 12%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 85%;
      height: max-content;
      font-weight: unset;
      gap: 15px;
      .cta{
      h5 {
        margin: 0px 0px;
        font-weight: unset;
        font-size: 2rem;
        font-weight: unset;
        font-family: SFBold;
        margin-bottom: 15px;
      }
      p {
          font-size: 0.9rem;
          margin: 0;
      }
    }
      .sbutton{

          white-space: nowrap;
          font-size: 1em;
          padding: 2% 4.5%;
          border-radius: 7px;
          margin-top: 2.5%;
          align-items: flex-start;
          width: fit-content;
          &:hover {
            background-color: #e5e7eb;
            color: #3882f6;
            
        }
      }
    }
  }
}

/* FOOTER */

footer {
  display: flex;
  background-color:#121212 ;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  text-align: center;
  font-size: 0.75em;
  p{
    margin: 0;
    padding: 0.5%;
  }

  @media all and (max-width: 825px) {
    font-size: 0.75em;
    padding: 1%;
  }

  @media all and (max-width: 450px) {
    font-size: 0.7em;
  }
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}